<!DOCTYPE html>
{% extends "smart_cityapp/base.html"%}
{% load static %}
{% block body %}

<br><h2>Área: Medio Ambiente</h2>
<hr class="featurette-divider">
<h4>Clima</h4><br>

<table id="myTable" data-toggle="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Objeto de Interés</th>
      <th class="th-sm">Propiedad</th>
      <th class="th-sm">Sensor</th>
      <th class="th-sm">Latitud</th>
      <th class="th-sm">Longitud</th>
      <th class="th-sm">Resultado</th>
      <th class="th-sm">Unidad de Medida</th>
      <th class="th-sm">Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for observacion in resultados %}
    <tr>
      <td> <a href="{{observacion.objetoURI}}" target="_blank">{{observacion.objeto}}</a></td>
      <td> <a href="{{observacion.propiedadURI}}" target="_blank">{{observacion.propiedad}}</a></td>
      <td>{{observacion.sensor}}</td>
      <td>{{observacion.latitud}}</td>
      <td>{{observacion.longitud}}</td>
      <td>{{observacion.resultado}}</td>
      <td> <a href="{{observacion.unidadURI}}" target="_blank">{{observacion.unidad}}</a></td>
      <td>{{observacion.inicio}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br><hr class="featurette-divider">

<h4>Número de Incendios</h4><br>
<table id="myTable" data-toggle="table" class="display table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Objeto de Interés</th>
      <th class="th-sm">Propiedad</th>
      <th class="th-sm">Resultado</th>
      <th class="th-sm">Unidad de Medida</th>
      <th class="th-sm">Fecha de Inicio</th>
      <th class="th-sm">Fecha Fin</th>
    </tr>
  </thead>
  <tbody>
    {% for observacion in incendios %}
    <tr>
      <td> <a href="{{observacion.objetoURI}}" target="_blank">{{observacion.objeto}}</a></td>
      <td>{{observacion.propiedad}}</td>
      <td>{{observacion.resultado}}</td>
      <td> <a href="{{observacion.unidadURI}}" target="_blank">{{observacion.unidad}}</a></td>
      <td>{{observacion.inicio}}</td>
      <td>{{observacion.fin}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
