<!DOCTYPE html>
{% extends "smart_cityapp/base.html"%}
{% load static %}
{% block body %}

<br><h2>Área: Turismo</h2>
<hr class="featurette-divider">
<h4>Número de hoteles por calificación</h4><br>

<table id="myTable" data-toggle="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Observación</th>
      <th class="th-sm">Objeto de Interés</th>
      <th class="th-sm">Propiedad</th>
      <th class="th-sm">Resultado</th>
      <th class="th-sm">Año</th>
    </tr>
  </thead>
  <tbody>
    {% for observacion in hoteles %}
    <tr>
      <td>{{observacion.nombre}}</td>
      <td> <a href="{{observacion.objetoURI}}" target="_blank">{{observacion.objeto}}</a></td>
      <td>{{observacion.propiedad}}</tdos>
      <td>{{observacion.resultado}}</td>
      <td>{{observacion.inicio}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
